$border-gray: #d8d8d8;
$color-primary: #1b64d8;

.container-detail {
  padding-left: 95px;
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  padding-bottom: 50px;
  &-image {
    &-main {
      width: 60rem;
      height: 35rem;
    }
    &-other {
      width: 7rem;
      height: 7rem;
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      border: 1px solid gray;
      cursor: pointer;
    }
  }

  &-info {
    padding-top: 20px;
    flex: 1 0 auto;
    & h4 {
      text-transform: uppercase;
      font-size: 30px;
    }
    & h5 {
      font-size: 20px;
      & span {
        color: $color-primary;
        font-size: 18px;
        margin-left: 10px;
        text-decoration: line-through;
      }
    }
    & select {
      background-color: white;
      color: black;
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid $border-gray;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }

    & .brand {
      font-size: 17px;
      font-weight: 500;
    }
    & .des {
      margin-top: 20px;
      padding-right: 20px;
      font-size: 17px;
      line-height: 1.5;
    }

    & .main-color {
      display: flex;
      gap: 20px;
      & .color {
        margin-top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $border-gray;
        background: blue;
      }
    }
    & .group-btn {
      display: flex;
      padding-right: 20px;
      margin-top: 50px;
      gap: 0px;
      & button {
        flex: 1 0 auto;
        margin: 0px;
        width: auto;
        height: auto;
        color: gray;
        border-radius: 0;
        padding: 15px 0px;
        border: 1px solid $border-gray;
        font-size: 17px;
        font-weight: 700;
        background: $color-primary;
        color: white;
        &:first-child {
          background: transparent;
          color: black;
        }
      }
    }
  }
}

.tuong-tu {
  padding: 0px 20px 90px 95px;
}
